.gradle/
.kotlin/
.idea/
*.iml
local.properties
keystore.properties
*.jks
*.keystore
*.p12
*.pfx
*.key
*.pem
github-secrets.json
/private/
/temp/
/Bin/
**/build/
__pycache__/
*.pyc
.DS_Store
Thumbs.db
